:root {
    /* Primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --White: hsl(0, 0%, 100%);

    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
    scroll-behavior: smooth;
}



 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css Main start   */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--Off-white);
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    height: auto;
    margin: 20px 100px;
    line-height: 1;
}

h1 {
    font-size: 45px;
    color: var(--Very-dark-blue);
    text-align: left;
}

p {
    color: var(--Dark-grayish-blue);
    text-align: left;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.container {
    background: var(--white);
    text-align: center;
}

/* Navigation bar added css style */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Off-white);
    z-index: 200;
    position: fixed;
    right: 100px;
    top: 0;
    padding: 50px 0;
    left: 100px;
    height: 50px;
}



.nav-items {
    margin-left: 25px;
}

.nav-items a:hover, .nav-items a:focus, .nav-items a:active{
    color: var(--Soft-red);
}


.navbar .logo img {
    display: block;
    width: 42px;
}

.navbar .logo {
    transition: all 0.5s ease-in-out;
}
  
.navbar .logo:hover {
    opacity: 2;
}

/* burger menu css add */
.hamburger, .close {
    display: none;
}
  
.nav-menu {
    display: flex;
}

.bar {
    display: block;
    width: 30px;
    height: 22px;
    margin: 8px auto;
    transition: all 0.5s ease-in-out;
}

/* side content css  */
.wrapper {
    margin-top: 70px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}


sub-wrapper-1 {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.img1 img {
    width: 100%;
    height: auto; 
}

.img2 img{
    display: none; 
}

.sub-wrapper-1 div {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.sub-wrapper-1 div h1 {
    width: 50%;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
}












