:root {
    /* Primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --White: hsl(0, 0%, 100%);

    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
    scroll-behavior: smooth;
}



 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css Main start   */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--Off-white);
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    height: auto;
    margin: 20px 100px;
    line-height: 1;
}

h1 {
    font-size: 45px;
    color: var(--Very-dark-blue);
    text-align: left;
}

p {
    color: var(--Dark-grayish-blue);
    text-align: left;
}

ul {
    list-style: none;
}





